.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgba(185, 28, 28, 0.6);
    bottom: -150px;
    animation: rise 20s infinite;
    border-radius: 50%;
    --random: calc(random());
}


.bubbles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-duration: 22s;
}

.bubbles li:nth-child(2) {
    left: 10%;
    animation-duration: 18s;
}

.bubbles li:nth-child(3) {
    left: 70%;
    width: 60px;
    height: 60px;
    animation-duration: 20s;
}

.bubbles li:nth-child(4) {
    left: 40%;
    animation-duration: 24s;
}

.bubbles li:nth-child(5) {
    left: 65%;
    animation-duration: 19s;
}

.bubbles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-duration: 25s;
}

.bubbles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-duration: 28s;
}

.bubbles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-duration: 17s;
}

.bubbles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-duration: 20s;
}

.bubbles li:nth-child(10) {
    left: 85%;
    width: 90px;
    height: 90px;
    animation-duration: 26s;
}

.bubbles li:nth-child(n+11) {
    left: calc(100% * var(--random));
    width: calc(10px + 100 * var(--random));
    height: calc(10px + 100 * var(--random));
    animation-duration: calc(15s + 15 * var(--random));
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-1000px) scale(1.2);
        opacity: 0;
    }
}